/* - - - - - - - - - - - -
Stylesheet by Winston Hoy

colors:
- light text on blue	: #cdd0da
- bg blue				: #031649
- dark blue/pur text	: #031548
- button blue			: #44a4f5
- gray text				: #b4b8c2

metrics:
font-size: 14px @ 1400px wide, 1em = 1%

winston@curiousercreative.com
http://curiousercreative.com
 - - - - - - - - - - - - -*/

/* -------------
  Reset styles
--------------- */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body, div, ul, li, p {
	margin: 0;
	padding: 0;
	border: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}

ul {
    list-style: none;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
    border: none;
    color: inherit;
    text-decoration: none;
}

a img {
    border: none;
}

input, button, textarea {
	border: none;
}

.clear-fix {
    clear:both;
    float:none;
}

.clear-fix > .content {
	clear: both;
	display: block;
}


/* -------------
  Global styles
--------------- */

html {
	overflow-y: scroll; /* ensures the scrollbar is always there! */
	overflow-x: hidden;
	font-size: 14px;
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	font: 1em/1.2857em 'lato', sans-serif;
	font-size: 1rem;
	min-height: 100%;
	color: white;
	background: #031649 url('graphics/bg.svg') no-repeat;
	background-position: center 20%;
	background-size: cover;
	background-attachment: scroll;
	overflow: hidden;
	top: 0;
	left: 0;
}

body.scroll {
	overflow-y: auto;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

h1 { 

}

h2 {

}

h3 {

}

h4 {
	
}

h5 {
	
}

h6 {

}

a {
	font-size: 1.1428rem;
	font-family: 'latolight', sans-serif;
}

p:first-child {
	margin-top: 0 !important;
}

p:last-child {
	margin-bottom: 0 !important;
}

p + p {
	margin-top: 1em;
}

b, strong {
	font-family: 'latobold';
	font-weight: normal;
}

i, em {
	font-family: 'latoitalic';
	font-style: normal;
}

i b, i strong,
em b, em strong,
b i, b em,
strong i, strong em {
	font-family: 'latobold_italic';
	font-weight: normal;
	font-style: normal;
}

input {
	background: none;
	border: white 1px solid;
	padding: 0.15em 0.5em;
	color: #fff;
}

::-webkit-input-placeholder {
	color: #031548;
	opacity: 1.0;
}

:-moz-placeholder { /* Firefox 18- */
	color: #031548;
	opacity: 1.0;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #031548;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #031548;
	opacity: 1.0;
}

button {
	cursor: pointer;
}

.wrap {
	margin: 0 auto; /* 70/1400 */
	width: 90%;
	position: relative;
}

.wrap.nofit {
	max-width: 90%;
	max-height: none;
	height: auto;
}

.col_container {
	word-spacing: -0.2857em;
	white-space: nowrap;
}

.col_container.nonowrap {
	white-space: normal;
}

.col {
	display: inline-block;
	word-spacing: normal;
	vertical-align: top;
	white-space: normal;	
}

.third { 
	width: 31.041666666667%; /* 496.667/1600 */
}

.two-thirds {
	width: 65.520833333333%; /* (496.667*2 + 55) / 1600 */
}

.third + .third,
.third + .two-thirds,
.two-thirds + .third {
	margin-left: 3.4375%; /* 55/1600 */
}

.wrap .third {
	width: 30.872483221477%; /* 460/1490 */
}
	
.wrap .two-thirds {
	width: 65.436241610738%; /* (460*2 + 55) / 1490 */
}

.wrap .third + .third,
.wrap .third + .two-thirds,
.wrap .two-thirds + .third,
.wrap .sixth + .sixth {
	margin-left: 3.691275167785%; /* 55 / 1490 */
}

.third:nth-child(3n+1) {
	margin-left: 0 !important;
}

.half {
	width: 49%;
}

.half + .half {
	margin-left: 2%;
}

.wrap .two-thirds .half {
	width: 47.179487179487%; /* 460 / (460*2+55) */
}

.wrap .two-thirds .half + .half {
	margin-left: 5.641025641026%;
}

.wrap .third .half {
	width: 44.13043478%;/* 203 / 460 */
}

.wrap .third .half + .half {
	margin-left: 11.9562174% /* 55 / 460 */
}

.half:nth-child(2n+1) {
    margin-left: 0 !important;
}

.sixth:nth-child(6n+1) {
    margin-left: 0 !important;
}

.sixth:nth-child(1),
.sixth:nth-child(2),
.sixth:nth-child(3),
.sixth:nth-child(4),
.sixth:nth-child(5),
.sixth:nth-child(6) {
	margin-top: 0 !important;
	margin-left: 3.691275167785%; /* 55 / 1490 */
}

.wrap .sixth {
	width: 13.59060403%; /* 202.5/1490 */
	margin-top: 3.691275167785%; /* 55 / 1490 */
}

.bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* -------------
  Global page styles
--------------- */
.wrapper {
	margin: 0 5%;
}

#page_container,
#meta_container {
	padding: 2% 0;
	height: 98%;
}

#page_container {
	white-space: nowrap;
	overflow: hidden;
}

.page {
	display: inline-block;
	width: 100%;
	height: 100%;
	white-space: normal;
}

/* -------------
  Page specific styles
--------------- */
#page_game,
#page_play {
	overflow: hidden;
	white-space: nowrap;
}

#page_game > .page,
#page_play > .page {
	white-space: normal;
}


/* -------------
  Browser specific style overrides
--------------- */


/* -------------
  Smaller viewport and narrow aspect ratio specific styles
--------------- */

/* For super wide aspect ratios, we'll break from a fixed window layout into a scrolling */
@media (min-width: 960px) and (min-aspect-ratio: 2200/968), (min-width: 960px) and (max-height: 660px) {

}

/* For tiny devices */
@media (max-width: 960px) {

}

/* tiny portrait devices */
@media (max-width: 960px) and (orientation : portrait) {
	
}

@media (max-width: 480px) {

}

@media (min-width: 320px) and (max-width: 960px) {

}

@media (min-width: 480px) and (max-width: 960px) {
	
}

@media (min-width: 768px) and (max-width: 960px) {
	
}